<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <title>godo</title>
</head>
<body>
  <header>
    <img src="/static/img/gropher.png" alt="Logo">
    <h1>Godo list</h1>
  </header>
  <table border="1">
    <thead>
      <tr>
        <th scope="col">Tasks</th>
        <th scope="col">Done</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Tasks }}
        <tr>
          <td><p class="name">{{ .Name }}</p></td>
          <td>
            <div class="done">
              {{ if .Done }}
                <input type="checkbox" checked>
              {{ else }}
                <input type="checkbox">
              {{ end }}
            </div>
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</body>
</html>
