body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
}
thead {
    background-color: rgb(175, 185, 194);
}
th {
    width: 100px;
}
.name {
    display: flex;
    align-items: center;
}
.done {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f101a;
    img {
        width: 150px;
        height: 150px;
        margin: 0;
        padding: 0;
    }
    h1 {
        margin: 0;
        padding: 0;
        font-size: 50px;
        color: aliceblue;
    }
}